// firebase-admin.ts.example
// Create your own firebase-admin.ts file based on this template
// You'll need to create your own service_key.json from the Firebase console

import { initializeApp, getApps, App, getApp, cert, ServiceAccount } from 'firebase-admin/app';
import { getFirestore } from 'firebase-admin/firestore';

// Replace with path to your service account key
const servicekey = require("@/service_key.json");

let app:App;

// Check if Firebase Admin app is already initialized
if (!getApps().length) {
    app = initializeApp({
      credential: cert(servicekey),
    });
  } else {
    app = getApp();
  }
  
  const adminDb = getFirestore(app);
  
  export { app as adminApp, adminDb };